In [2]:
# nested loops
for i in range(1,3):
    for j in range(1,4):
        print(i,j)

1 1
1 2
1 3
2 1
2 2
2 3

In [7]:
for i in range(1,4):
    for j in range(1,11):
        print(f"{i} * {j} = {i*j}")
    print("________________")

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
________________
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
________________
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
________________

In [23]:
def tables(n,o):
    for i in range(1,11):
        print(f"{n} * {i} = {n*i}")
    for j in range(1,11):
        print(f"{o} * {j} = {o*j} ")
tables(5,4)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

In [38]:
# print n starts in horizontally
n = int(input())
for i in range(1, n+1):
    print("*", end = ' ')

 10

* * * * * * * * * *

In [40]:
# prints stars in 3 lines
n = int(input())
for i in range(1, n+1):
    print("*", end = ' ')
print()
for i  in range(1, n+1):
    print("*", end = ' ')
print()
for i in range(1, n+1):
    print("*", end = ' ')

 4

* * * *
* * * *
* * * *

In [51]:
n = int(input())
for i in range(1, 10):
    for j in range(1,n+1):
        print("*" , end = ' ')       
    print()

 5

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
# rectangular pattern